<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ovo Instruction</title>
</head>
<body>
    <div style="display: flex; justify-content: center; align-items: center; height: 100%; width: 100%;margin-top: 10vw; flex-direction: column;">
        <div style="display: flex; flex-direction: column;">
            <% for (index = 0; index < data.length; index ++) {%>
                <a href="<%= data[index].url %>">
                    <h1><%= data[index].displayText %><br/><img src="<%= data[index].icon %>" alt="<%= data[index].displayText %>" srcset="<%= data[index].icon %>"></h1>
                </a>
            <% } %>
        </div>
    </div>
</body>
</html>